.d-flex {
    display: flex;
  }
  .flex-1{
    flex: 1;
  }
  .flex-col{
    flex-direction: column;
  }
  .flex-row{
    flex-direction: row;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  .justify-center {
    justify-content: center;
  }
  .align-center {
    align-items: center;
  }
  .align-start {
    align-items: flex-start;
  }
  .align-end {
    align-items: flex-end;
  }
  .text{
    text-align: center;
  }
  .gap-2 {
    gap: 0.4em;
  }
  .gap-4 {
    gap: 0.8em;
  }
  .gap-5 {
    gap: 1em;
  }
  .gap-6 {
    gap: 1.5em;
  }
  .gap-8 {
    gap: 2em;
  }
  .gap-9{
    gap: 3em;
  }
  .w-full{
    width: 100%;
  }
  .m-1 {
      margin: 0.25em;
    }
    .m-2 {
      margin: 0.5em;
    }
    .m-3 {
      margin: 0.75em;
    }
    .m-4 {
      margin: 1em;
    }
    .ml-1 {
      margin-left: 0.25em;
    }
    .ml-2 {
      margin-left: 0.5em;
    }
    .ml-3 {
      margin-left: 0.75em;
    }
    .ml-4 {
      margin-left: 1em;
    }
    .mt-1 {
      margin-top: 0.25em;
    }
    .mt-2 {
      margin-top: 0.5em;
    }
    .mt-3 {
      margin-top: 0.75em;
    }
    .mt-4 {
      margin-top: 2em;
    }
    .mt-5{
      margin-top: 3rem;
    }
    .mr-1 {
      margin-right: 0.25em;
    }
    .mr-2 {
      margin-right: 0.5em;
    }
    .mr-3 {
      margin-right: 0.75em;
    }
    .mr-4 {
      margin-right: 1em;
    }

    .mb-1{
      margin-bottom: 1em;
    }
    .p-1 {
      padding: 0.25em;
    }
    .p-2 {
      padding: 0.5em;
    }
    .p-3 {
      padding: 0.75em;
    }
    .p-4 {
      padding: 1em;
    }
    .p-6 {
      padding: 1.5em;
    }
    .p-8 {
      padding: 2em;
    }
    .pointer {
      cursor: pointer;
    }
  
    .border-none{
      border: none;
    }
    .outline-none{
      outline: none;
    }
    .bg-transparent{
      background: transparent;
    }