.benfits_heading h1{
color: #FC4C1B;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.benfits_heading p{
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.dark-mode .benfits_heading p{
    color: #FFF;
}
.single-befite{
width: 400px;
height: 270px;
padding: 24px;
border-radius: 10px;
background: var(--white-color);
}
.dark-mode .single-befite{
    background: #292624;
}
.single-befite h1{
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.dark-mode .single-befite h1{
    color: var(--white-color);
}
.single-befite p{
font-size: 16px;
font-style: normal;
font-weight: 500;
}
.app_button{
    color: var(--white-color);
}