.single_Efficiency {
  width: 400px;
  height: 217px;
  padding: 24px;
  border-radius: 10px;
  background: var(--white-color);
}

.dark-mode .single_Efficiency{
    background: var(--box-background);
}

.single_Efficiency h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
