.Guide_area h1{
color: var(--white-color);
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.Guide_area span{
color: var(--secondary-color);
}
.guide_left img{
width: 596px;
height: 482.133px;
border-radius: 10px;
background: lightgray 50% / cover no-repeat;
}
.guide_right p{
color: #DBDBDB;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.guide_button .app_button_secondary{
color: var(--white-color);
background: var(--primary-color);
 
}