.process_heading h1{
    color: var(--white-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.process_heading span{
    color:var(--secondary-color);

}
.process_heading p{
color:var(--white-color);
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.single_process{
width: 205px;
height: 80px;
border-radius: 10px 0px 0px 10px;
background: var(--secondary-color);
text-align: center;
font-size: 12px;
padding: 15px;
}
.single_process_1{
width: 205px;
height: 80px;
background: linear-gradient(180deg, #83807E 0%, #2F2C2A 100%);
border-right: 2px solid #fff1e81a;
}
.single_process_1{
color: var(--white-color);
text-align: center;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 11px;
}
.process_left h1{
color: var(--secondary-color);
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.process_left p{
color: var(--white-color);
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.process_right_single h1{
color: var(--white-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 2.2em;
}
.process_left{
width: 620px;

}
.process_right{
padding: 24px;
border-radius: 10px;
background: var(--secondary-dark-color);
}
.button-process .app_button_secondary{
color: var(--white-color);
background: var(--primary-color);
}